    body {
        margin: 0;
        background-color: black;
        color: white;
    }
    
    .app {
        display: flex;
    }
    
    .users {
        width: 200px;
        /* position: fixed; */
        flex-basis: 15%;
        border-right: 5px solid lightgreen;
        margin-bottom: 3rem !important;
    }
    
    .content {
        flex-grow: 1;
        flex-basis: 85%;
        border: 5px solid #fff;
        margin-bottom: 3rem;
    }
    
    #form {
        background: rgba(0, 0, 0, 0.15);
        padding: 0.25rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        height: 3rem;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
    }
    
    #input {
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        margin: 0.25rem;
    }
    
    #form>button {
        background: #333;
        border: none;
        padding: 0 1rem;
        margin: 0.25rem;
        border-radius: 3px;
        outline: none;
        color: #fff;
    }
    
    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /* margin-bottom: 2.2rem !important; */
    }
    
    #messages>li {
        padding: 0.5rem 1rem;
    }
    
    #messages>li.notif {
        padding: 0.1rem 1rem 0rem 2rem;
        color: #666666
    }
    
    #users {
        list-style-type: none;
        margin: 0;
        padding: 1rem 0 0 0;
        position: fixed;
        font-size: 2em;
        font-style: bold;
        border: 2px;
        margin-bottom: 3rem !important;
    }
    
    #users>li {
        padding: 0.2rem 0.5rem;
    }
    
    #form>button :hover {
        transform: scale(2);
        transition: 0.1s;
        color: lightgrey;
        background-color: lightgreen;
    }
    /* ul {
    position: fixed;
} */
    /* #laDate {
        font-style: italic;
        font-size: 0.5em;
    } */
    
    span {
        font-style: italic;
        font-size: 0.8em;
    }
    
    h1 {
        text-align: center;
    }